@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
  /* Primary Colors */
  --black: #141414;
  --white: #ffffff;
  --dark-cyan: #004444;

  /* Secondary Colors With Shades & Tints */
  --white-smoke: #EFEFEF;
  --grey: #737373;
  --cyan-green: #499E96;
  --gradient: #004444, #499E96;
}

body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: var(--black);
  padding: 0;
  margin: 0;
  line-height: 1.4;
}
img {
  max-width: 100%;
}
a{
  transition: .2s;
  color: var(--black);
  text-decoration: none;
}
.img-div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.img-div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
section {
  margin: 80px 0;
}
.sec-p {
  margin-bottom: 2em;
  color: var(--grey);
  font-size: 20px;
}
p{
  font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
  color: var(--dark-cyan);
}
h1,h2,h3,h4{
  font-weight: bolder;
}
.sec-title{
  color: var(--black);
}
.clr-bg h1,.clr-bg h2,.clr-bg h3,.clr-bg h4,.clr-bg h5,.clr-bg h6{
  color: var(--white);
}
div[class^='col-'] > .col-sub {
  height: 100%;
}

/* header css */
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-brand {
  width: 40px;
}
.navbar-brand > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar {
  margin-top: 50px;
  border-radius: 50px;
  padding: 10px 20px 10px 30px;
  background-color: var(--white-smoke);
}
.navbar-toggler-icon {
  background: unset;
}
.btn-fill {
  border-radius: 50px;
  background: linear-gradient(180deg, #004444, #499E96);
  color: var(--white) !important;
  box-shadow: 0px 3px 5px 0px #00000090;
  padding: 10px 20px;
  width: max-content;
  border: none;
}
.btn-outline {
  background: var(--white);
  color: var(--dark-cyan) !important;
  border: 2px solid var(--dark-cyan);
}
.clr-bg .btn-outline {
  border-color: transparent;
}
.btn-fill:hover {
  box-shadow: 0px 5px 12px 1px #00000080;
  background-color: var(--white);
}
.navbar .nav-link {
  color: var(--dark-cyan);
  font-weight: 500;
  padding: 8px 30px !important;
}
.navbar .nav-item:hover .nav-link{
  color: var(--cyan-green);
}
.mega-dropdown {
  width: 760px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px var(--cyan-green);
  left: -100px;
}
.mm-left {
  border-radius: 20px;
  padding: 15px  10px;
  transition: background-color .3s;
}
.mega-menu .mm-left-ul {
  gap: 10px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--cyan-green);
  padding-right: 10px;
}
.mega-menu .testi-author .ta-img {
  height: 60px;
  flex: 0 0 60px;
}
.mega-menu .od-title {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.mega-menu .mm-left:hover {
  color: var(--white);
  background-color: var(--dark-cyan);
}
.mega-menu .mm-left:hover .ta-img{
  background: var(--white);
}
.mega-menu .mm-left:hover .od-title,
.mega-menu .mm-left:hover .author-role{
  color: var(--white);
}
.mega-menu .author-role {
  font-size: 13px;
  font-weight: 400;
  color: var(--grey);
}
.req-audit-modal .modal-body{
  padding: unset;
}
.req-audit-modal .modal-content{
  background: transparent;
  border: none;
}
.req-audit-modal .ram-close {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  font-size: 40px;
  left: 100%;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: none;
  padding: unset;
  display: flex;
}

/* home/index page css */
.main-title {
  /* margin-bottom: 0; */
  font-weight: 900;
}
.main-title span {
  display: block;
}
.hbs {
  padding: 10px 0;
  margin: 40px 0;
  position: relative;
}
.hbs h6 {
  font-size: 14px;
  letter-spacing: -0.5px;
}
.hb-stats .row > div:not(:last-child) .hbs::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--dark-cyan);
  width: 0;
  height: 100%;
}
.hbs h2 {
  color: var(--dark-cyan);
  font-weight: 900;
}
.btn-div {
  display: flex;
  gap: 40px;
}
.btn-center{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.hb-row1 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hb-row1 .hb-lg-img {
  padding: 10px 10px 70px 10px;
}
.owl-carousel.owl-our-portfolio {
  margin: 20px auto;
}
.owl-our-portfolio .img-div {
  border-radius: unset;
}
.owl-our-portfolio .owl-dots {
  margin-top: unset;
}
.banner-logos .col-4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-logos .col-4.center-col {
  transform: translateY(60px);
}
.banner-logos .img-div {
  border: 1px solid var(--dark-cyan);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  transition: .3s;
}
.banner-logos .img-div:hover {
  box-shadow: 0 0 8px 1px var(--cyan-green);
}
.banner-logos .img-div img {
  width: 100%;
}

/* our services */
.os-div {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: var(--dark-cyan);
  transition: .5s;
  background-color: var(--white-smoke);
  box-shadow: 0px 2px 6px 0px #73737380 inset;
}
.os-div .od-title,
.os-simple .od-title {
  max-width: 15ch;
}
.os-div .img-div svg,
.os-simple .img-div svg {
  fill: var(--dark-cyan);
  width: auto;
  height: 80px;
}
.os-div:hover {
  background-color: var(--dark-cyan);
  color: var(--white);
}
.os-simple {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: var(--dark-cyan);
  transition: .5s;
  background-color: var(--white-smoke);
  box-shadow: 0px 2px 6px 0px #73737380 inset;
}
.os-simple:hover {
  box-shadow: 0px 0px 8px 0px var(--grey) inset;
}

.hvr-shadow:hover {
  background-color: var(--white-smoke);
  color: var(--dark-cyan);
  box-shadow: 0px 0px 8px 0px var(--grey) inset;
}
.os-div p {
  margin-bottom: unset;
}
.lm-link{
  margin-top: auto;
}
.os-div:hover .lm-link{
  color: var(--white);
}
.os-div:hover .od-title{
  color: var(--white);
}
.hvr-shadow:hover .od-title {
  color: unset;
}
.os-div:hover .img-div svg{
  fill: var(--white);
}
.hvr-shadow:hover .img-div svg{
  fill: var(--dark-cyan);
}
.ib-proof {
  margin: 50px 0;
  border-radius: 30px;
  background-color: var(--cyan-green);
  overflow: hidden;
  padding: 30px;
  color: var(--white);
}
.os-div .lm-link {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--dark-cyan);
}

/* owl-carousel */
.owl-item p {
  height: 6em;
  margin-bottom: unset;
  overflow-y: auto;
}

/* home industry partner */
.owl-carousel {
  margin: 40px 0;
}
.owl-carousel .owl-item {
  padding: 10px 6px;
}
.owl-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 20px;
}
.owl-dot span {
  width: 10px;
  height: 10px;
  background-color: var(--grey);
  display: block;
  border-radius: 50%;
}
.owl-dot.active span {
  background: linear-gradient(180deg, var(--dark-cyan), var(--cyan-green));
  width: 25px;
  border-radius: 5px;
}

/* testimonial */
.testi-author {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: center;
  width: 100%;
  margin-top: auto;
  font-weight: bold;
}
.testi-author .ta-img {
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(180deg, var(--dark-cyan), var(--cyan-green));
  flex: 0 0 80px;
}
.testi-title2 h3 {
  font-weight: 400;
  padding-bottom: 1em;
  margin-bottom: unset;
}
.testi-title2 h3 span {
  font-weight: bold;
}
.testimonials .col-sub1 .os-div {
  height: calc(100% - 108px);
}
.testimonials .left-col {
  height: 100%;
  margin-right: -55px;
  display: flex;
  gap: 20px;
}
.testimonials .left-col > div {
  flex: 1 1 100%;
}
.testimonials .right-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 50px;
}
.testimonials .author-name {
  text-transform: uppercase;
  max-width: unset;
  width: 100%;
  font-weight: bolder;
}
.testimonials .testi-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.testi-item .img-div {
  height: 320px;
  width: 100%;
  align-items: center;
}
.testi-item .img-div video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.bd-testi {
  justify-content: center;
  margin-top: unset;
}
.testi-item .img-div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--cyan-green);
  border: none;
}
.testi-item .img-div button svg {
  transform: translateX(2px);
}
.vid-modal video{
  width: 100%;
  height: 100%;
}
.vid-modal-body {
  border-radius: 20px;
  overflow: hidden;
}

/* Recent Blog */
.rb-vcol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rb-hcol {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.rb-hcol .rb-link {
  color: var(--dark-cyan);
  font-weight: bold;
  font-size: 18px;
}
.rb-vcol .img-div {
  border-radius: 20px;
  padding: 20px;
  background-color: var(--white-smoke);
  box-shadow: 0px 2px 6px 0px #73737380 inset;
  margin-bottom: 10px;
}
.rb-vcol .img-div img {
  border-radius: 20px;
}

/* faq */
.faq .accordion-item {
  border: none;
  border-radius: 20px !important;
  background-color: var(--white-smoke);
  box-shadow: 0px 2px 6px 0px #73737380 inset;
  margin-bottom: 10px;
}
.faq .accordion-button {
  background-color: transparent;
  color: var(--dark-cyan);
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding: 1em 3em 1em 1em;
}
.faq .accordion-button svg {
  position: absolute;
  right: 30px;
  font-size: 30px;
}
.faq .accordion-button:focus {
  box-shadow: unset;
}
.faq .accordion-button:not(.collapsed){
  box-shadow: unset;
}

.faq .accordion-button::after {
  display: none;
}
.faq .accordion-body {
  padding-top: unset;
}
.faq .accordion-button .faq-mns {
  transition: rotate .3s;
  rotate: 0deg;
}
.faq .accordion-button.collapsed .faq-mns {
  rotate: 270deg;
}

/* footer */
.foot-subscribe{
  background: linear-gradient(180deg, var(--dark-cyan), var(--cyan-green));
}
.subs-form {
  gap: 20px;
}
.subs-form input[type='email']{
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50px;
  min-width: 300px;
  padding: .5em 1em;
  color: var(--white);
}
.subs-form input[type='email']::placeholder{
  color: #ffffff50;
}
.subs-form .btn {
  padding: 10px 40px;
}
.foot-subscribe .row-text {
  margin-left: 50px;
}
.subs-form input[type='email']:focus-visible{
  outline: none;
}
.main-foot .foot-title {
  text-transform: uppercase;
  font-weight: bolder;
}
.main-foot ul {
  list-style: none;
  padding-left: unset;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}
.main-foot ul li{
  margin: 1.6em 0;
}
.main-foot ul a {
  text-decoration: none;
  color: var(--dark-cyan);
}
.main-foot ul a:hover {
 color: var(--cyan-green);
}
.foot-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 210px;
  margin-top: 1.4em;
}
.foot-social .img-div:hover {
  border-radius: 50%;
}
.foot-social .img-div {
  border: 2px solid var(--cyan-green);
  width: 60px;
  height: 60px;
  border-radius: 10px;
  padding: 6px;
}
.foot-social .img-div > img {
  width: 100%;
}
.foot-logo {
  padding-right: 20px;
  display: flex;
  border-radius: unset;
  max-width: 320px;
  margin: auto;
}
.foot-btm {
  border-top: 1px solid var(--dark-cyan);
  padding: 10px 0;
  text-align: center;
  color: var(--dark-cyan);
  font-weight: 500;
}

/* service banner */
.services-banner .img-div img {
  object-fit: cover;
  width: 100%;
}
.main-services .st-count {
  font-size: 5em;
  font-weight: 900;
  color: var(--dark-cyan);
}
.main-services .service-div {
  margin-bottom: 100px;
}
.services-banner .sec-p {
  max-width: 50ch;
}

/* ================== Tools page ================== */  
.ihc-hover {
  height: 350px;
  justify-content: center;
}
.ihc-hover:hover {
  justify-content: flex-start;
}
.ihc-hover .od-title {
  max-width: 15ch;
}
.ihc-hover .hover-cnt {
  height: 0;
  overflow: hidden;
  transition: height .3s;
}
.ihc-hover svg {
  height: 150px;
  width: auto;
}
.ihc-hover:hover .img-div,
.ihc-hover:hover svg {
  height: 100px;
}
.hover-cnt p {
  margin-bottom: 10px;
}
.ihc-hover:hover .hover-cnt {
  height: auto;
}

/* ================== About Us page ================== */  
.about-banner .sec-p {
  margin-bottom: 0;
  max-width: 50ch;
}
.leadership-team .os-div .od-title {
  text-transform: uppercase;
  margin-bottom: 0;
}
.leadership-team .os-div p {
  font-weight: 500;
  font-size: 24px;
}
.culture .os-div {
  justify-content: center;
  align-items: center;
  display: flex;
}


/* ================== Contact Us page ================== */  
.foot-social.cu-social {
  margin-top: unset;
  max-width: unset;
}
.sp-bold{
  font-weight: bold;
}
.link-cyan{
  color: var(--cyan-green);
}
.cu-form {
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: var(--dark-cyan);
  box-shadow: 0px 2px 6px 0px #73737380 inset;
  margin: auto;
  gap: 20px;
  background-color: var(--white);
}
.cu-form label, .cu-form input::placeholder {
  color: var(--grey);
  font-weight: 500;
}
.cu-form input, .cu-form select {
  border: 2px solid var(--cyan-green);
  background-color: #499e9620;
}
.cu-form label span {
  color: #db0808;
}
.cu-form .fl-name {
  display: flex;
  gap: 20px;
}
.cu-form .fl-name > div {
  flex: 1;
}
.cu-form .btn {
  margin: auto;
  min-width: 140px;
}
.cu-audit{
  background: url(../public/images/chevron-down.svg) no-repeat right 10px center / 20px;
  padding-right: 30px;
}
.cu-form input:focus, .cu-form select:focus {
  border-color: var(--cyan-green) !important;
  box-shadow: none !important;
}

/* SCA pages */
.sca-why-sec .sec-title span{
  display: block;
}
.sca-stats {
  display: flex;
  gap: 60px;
}
.sca-stats .hbs h6 {
  font-size: 20px;
  letter-spacing: unset;
  color: var(--black);
  font-weight: bold;
}
.sca-stats .hbs h2 {
  font-size: 42px;
}
.sca-stats .hbs::after {
  content: "";
  position: absolute;
  border-right: 2px solid var(--grey);
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  height: 70%;
}

/* ===========my-css========= */
  .services .hvr-shadow p{
    margin-left: 31px;
  }
  .services .hvr-shadow .img-div{
    margin-left: auto;
  }
  .services .hvr-shadow .od-title{
    margin-top: -20px;
  }


  /* ----structure---- */
  .struct-btn{
    height: 100%;
    padding-right: 40px;
    position: relative;
  }
  .struct-btn .btn{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }
  .struct-btn::after{
    content: " ";
    position: absolute;
    background: linear-gradient(180deg, #004444, #499E96);
    width: 8px;
    height: 97%;
    top: 0;
    right: 0px;
    border-radius: 10px;
  }
  .structure-side{
    background-color: var(--white-smoke);
    box-shadow: 0px 2px 6px 0px #73737380 inset;
    border-radius: 20px;
    padding: 30px 35px 10px 35px ;
    margin-left: 10px;
  }
  .structure-content{
    margin-bottom: 25px;
  }
  .structure-content p{
    font-size: 16px;
    padding-bottom: 15px;
    position: relative;
  }
  .structure-content:not(:last-child) p::after{
    content: " ";
    position: absolute;
    background: #3f8881;
    width: 90%;
    height: 2px;
    bottom: 0;
    left: 0px;
    border-radius: 10px;
  }
/* ----important---- */
.imp-content .img-div svg{
  fill: var(--dark-cyan);
  width: auto;
  height: 100px;
}
.imp-content p{
  width: 100%;
  max-width: 15ch;
}

/* -------disclaimer------- */
.main-disclaimer .sec-title:not(.main-title){
  font-size: 28px;
}
/* -------penetration------- */
 .pen-type .os-div .img-div svg{
  height: 150px;
 }
/* -------app-penetration------- */
.app-pene-ben  .imp-content p{
  max-width: 30ch;
}


/* ================== Media Query ================== */  
@media (min-width:1200px){
  .rb-vcol .od-title {
    font-size: 32px;
  }
  .serv-div{
    margin-left: -40px;
    margin-right: -50px;
  }
  .comp-div{
    margin-left: 30px;
  }
  .sec-title{
    font-size: 40px;
  }
  .testi-title2 h3 {
    font-size: 32px;
  }
}

/* testimonial css */
@media (max-width:1200px){
  .testimonials .right-col {
    margin-left: unset;
  }
  .testimonials .left-col{
    margin-right: unset;
  }
  .sec-p,p {
    font-size: unset;
  }
  .services .od-title {
    max-width: unset;
    margin-bottom: unset;
  }
}

@media (max-width:991px){
  section {
    margin: 60px 0;
}
.foot-subscribe .row-text {
  margin-left: unset;
  margin-top: 20px;
}
.foot-social {
  justify-content: center;
  margin: auto;
}
.testimonials .left-col {
  flex-wrap: wrap;
}
.testimonials .col-sub1 .os-div {
  height: unset;
}

/* -------ms2 css--------- */
.struct-btn{
  padding-right: unset;
}
.struct-btn::after{
  content: none;
}
.structure-side{
  margin-left: unset;
}
.structure-content:not(:last-child) p::after{
  width: 100%;
}
.services .hvr-shadow p{
  margin-left: unset;
}

/* -----disclaimer----- */
.main-disclaimer .sec-title:not(.main-title) {
  font-size: 24px;
}

} /* mwidth-end */

@media (max-width:767px){
div[class^='col-'] > .col-sub {
  height: unset;
}
section {
  margin: 40px 0;
}
.hb-row1 {
  text-align: center;
}
.hbs {
  margin: unset;
}
.hb-stats .row > div:not(:last-child) .hbs::after {
  content: none;
}
.hb-row1 .sec-p {
  max-width: 30ch;
  margin: 1em auto;
}
.hb-row1 .btn-div {
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}
.hb-row1 .btn-div .ex-port-lg {
  display: none;
}
.navbar {
  margin-top: unset;
  padding: unset;
  background-color: unset;
}

/* our services sm */
.ib-proof:not(.foot-subscribe) .row {
  flex-direction: column-reverse;
  gap: 20px;
}

/* testimonial */
.testi-author {
  order: -1;
  margin-top: unset;
}
.os-div .img-div svg {
  height: 40px;
}

/* faq */
.faq .accordion-button {
  font-size: 16px;
}
.faq .accordion-item {
  margin-bottom: 10px;
}
.faq .accordion-body {
  font-size: 14px;
}
.faq .accordion-button svg {
  right: 20px;
  font-size: unset;
}

/* footer */
.subs-form input[type='email'] {
  min-width: unset;
  width: 100%;
}
.subs-form {
  gap: 10px;
  flex-direction: column;
}
.subs-form .btn {
  width: 100%;
}
.foot-logo {
  padding-right: unset;
  margin-bottom: 20px;
}
.foot-logo img {
  max-width: 220px;
}
.main-foot .fs-title {
  text-align: center;
}
.main-foot .serv-div {
  margin-top: 20px;
}

/* services page  */
.main-services .st-count {
  font-size: 3em;
}
.main-services .service-div {
  margin-bottom: 50px;
}

/* sca css */
.sca-why-sec .sec-title span {
  display: unset;
}
/* -------ms2 css--------- */
.ser-stage .os-div .img-div svg {
  height: 80px;
}
.structure-side{
  padding: 20px;
}
.ser-imp{
  text-align: center;
}
.imp-content p{
  margin: 0 auto;
}
/* -----disclaimer----- */
.main-disclaimer .sec-title:not(.main-title) {
  font-size: 20px;
}

} /* mwidth-end */ 



